// font colors
$font-color-black: #282828;
$font-color-white: #FFF;
$font-color-grey: #80A2B6;

// colors
$color-blue: #11B3FE;
$color-dark-blue: #0095E0;
$color-grey-bg: #F6F7F8;
$color-grey-bg-hover: #EAF1F7;
$color-grey :#E3EBEF;
$color-red: #E03F3F;

// devices
$breakpoint-lg: 120rem;
$breakpoint-md: 85.37rem;
$breakpoint-sm: 64rem;
$breakpoint-xs: 48rem;
$breakpoint-xxs: 23.437rem;